:root {
	--bg-color-main: #FFFFFF;
	--bg-color-second: #F7FBFF;
	--text-color-main: #242424;
	--text-color-second: #6D6D6D;
	--color-main: #1572D3;
	--color-second: #ECF5FF;
	--font-main: 'Poppins', sans-serif;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--font-main);
	background-color: var(--bg-color-main);
	color: var(--text-color-main);
}

ul,
ol {
	margin: 0;
	padding: 0;
}

ul,
ol li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
}

a,
button,
input {
	transition: color 0.3s ease,
		background-color 0.3s ease,
		border-color 0.3s ease,
		transform 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

p {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: var(--fw-semibold);
	text-transform: uppercase;
	color: var(--color-main);
	z-index: 999;
}

.logo__icon {
	width: 24px;
	height: 24px;
	fill: currentColor;
}

.section {
	overflow: hidden;
	height: 800px;
}

.badge {
	padding: 16px 32px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: var(--fw-medium);
	background-color: var(--color-second);
	color: var(--color-main);
	border-radius: 8px;
}

.title {
	font-size: 38px;
	font-weight: var(--fw-medium);
}

.link {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 14px 34px;
	font-size: 14px;
	font-weight: var(--fw-medium);
	border: 1px solid var(--text-color-second);
	border-radius: 8px;
}

.link__icon {
	width: 20px;
	aspect-ratio: 1;
	stroke: currentColor;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	/* padding-top: 40px; */
	z-index: 2;
}

.actions {
	display: flex;
	align-items: center;
	gap: 24px;
}

.actions__btn {
	padding: 16px 0;
	font-weight: var(--fw-medium);
}

.actions__btn:hover {
	color: var(--color-main);
	transform: translateY(-2px);
}

.actions__btn_focus {
	padding: 16px 32px;
	background-color: var(--color-main);
	color: #FFFFFF;
	border-radius: 8px;
}

.actions__btn_focus:hover {
	background-color: color-mix(in srgb, var(--color-main), #000 15%);
	color: #FFFFFF;
	transform: translateY(-2px);
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 40px;
	font-weight: var(--fw-medium);
}

.menu__link:hover {
	color: var(--color-main);
}

.btn-accent {
	background-color: var(--color-main);
	color: #FFFFFF;
	border-radius: 8px;
}

.burger-btn {
	display: none;
	position: relative;
	border: none;
	background: transparent;
	width: 40px;
	height: 26px;
}

.burger-btn::before,
.burger-btn::after {
	content: '';
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 10px;
	background: var(--color-main);
}

.burger-btn::before {
	top: 0;
	box-shadow: 0 11px 0 var(--color-main);
	transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform .3s;
}

.burger-btn::after {
	bottom: 0;
	transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-btn.active::before {
	top: 11px;
	transform: rotate(45deg);
	box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
	transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-btn.active::after {
	bottom: 11px;
	transform: rotate(-45deg);
	transition: bottom .3s, transform .3s .15s;
}

.hero {
	padding: 40px 0;
}

.hero__container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 390px;
	/* z-index: 1; */
}

.hero__img {
	position: absolute;
	top: 25%;
	left: 490px;
	width: 61.1vw;
	max-width: 876px;
}

.hero__icon {
	position: absolute;
	top: 50%;
	right: -32%;
	width: 803px;
	height: 866px;
	transform: translateY(-50%);
	fill: var(--color-second);
}

.hero__title {
	font-size: 48px;
	font-weight: var(--fw-semibold);
	line-height: 1;
}

.hero__accent {
	position: relative;
	display: inline-block;
	color: var(--color-main);
}

.accen-title {
	position: absolute;
	left: 0;
	bottom: -16px;
	width: 100%;
	height: 20px;
	fill: var(--color-main);
}

.hero__text {
	font-size: 18px;
	font-weight: var(--fw-regular);
	line-height: 1.5;
}

.hero__links {
	display: flex;
	align-items: center;
	gap: 12px;
}

.hero__link {
	width: 124px;
	height: 37px;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	padding: 18px 12px;
	/* margin-bottom: 48px; */
	border-radius: 12px;
	background-color: var(--bg-color-main);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
	width: 100%;
	z-index: 1;
}

.search-form__field {
	flex: 1;
}

.search-form__field:not(:first-of-type) {
	padding-left: 24px;
	border-left: 2px solid #000;
	border-color: #e0e0e0;
}

.search-form__label {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.search-form__icon {
	width: 32px;
	height: 32px;
	stroke: currentColor;
}

.search-form__content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.search-form__title {
	margin-bottom: 8px;
	font-weight: var(--fw-medium);
	line-height: 1;
}

.search-form__input {
	border: none;
	outline: none;
	padding: 0;
	font-size: 14px;
}

.search-form__btn {
	padding: 18px 51px;
	font-weight: var(--fw-medium);
}

.steps {
	padding: 86px 0;
}

.steps__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.steps__badge {
	margin-bottom: 30px;
}

.steps__title {
	margin-bottom: 80px;
	text-align: center;
}

.steps__list {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 100px;
	margin-bottom: 160px;
}

.step-card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 240px;
	font-weight: var(--fw-medium);
}

.step-card__image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 112px;
	height: 112px;
	margin-bottom: 40px;
	background-color: var(--color-second);
	border-radius: 16px;
}

.step-card__icon {
	width: 48px;
	height: 48px;
	fill: var(--color-main);
}

.step-card__title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: var(--fw-medium);
	text-align: center;
}

.step-card__text {
	font-size: 14px;
	font-weight: var(--fw-medium);
	text-align: center;
	color: var(--text-color-second);
}

.brand {
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.brand__viewport {
	width: 100%;
	overflow: hidden;
}

.brand__track {
	display: flex;
	align-items: center;
	width: max-content;
	gap: 96px;
	animation: brandTickerScroll 30s linear infinite;
}

.brand:hover .brand__track {
	animation-play-state: paused;
}

@keyframes brandTickerScroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

.features {
	padding: 90px 0;
	overflow: hidden;
	background: url('../icons/arrowTop.svg') no-repeat;
	/* background-size: 80% auto; */
	background-position: bottom -100px left -350px;
}

.arrow-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 859px;
	height: 1123px;
}

.features__container {
	display: flex;
	flex-direction: column;
	align-items: end;
	position: relative;
}

.features__content {
	display: flex;
	flex-direction: column;
	align-items: start;
	/* width: 50vw; */
	max-width: 570px;
}

.features__badge {
	margin-bottom: 30px;
}

.features__title {
	margin-bottom: 56px;
}

.feateres__img {
	position: absolute;
	top: 50%;
	right: 650px;
	width: 56.5vw;
	max-width: 813px;
	transform: translateY(-50%);
}

/* .feateres__icon {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 859px;
	height: 1123px;
} */

.features-card {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 455px;
}

.features-card__item {
	display: flex;
	align-items: center;
	gap: 24px;
}

.features-card__image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 64px;
	height: 64px;
	background-color: var(--color-second);
	border-radius: 16px;
}

.features-card__icon {
	width: 24px;
	height: 24px;
	fill: var(--color-main);
}

.features-card__title {
	margin-bottom: 14px;
	font-size: 20px;
	font-weight: var(--fw-medium);
	line-height: 1;
}

.features-card__text {
	color: var(--text-color-second);
	line-height: 1.5;
}

.catalog {
	padding: 84px 0;
}

.catalog__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog__badge {
	margin-bottom: 20px;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 32px;
	width: 100%;
	padding: 64px 0;
}

.car-card {
	display: flex;
	flex-direction: column;
	width: 256px;
	padding: 24px;
	border-radius: 16px;
	box-shadow: 0 12px 24px rgba(16, 76, 139, 16%);
}

.car-card__preview {
	/* padding: 24px 24px 0 24px; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
}

.car-card__image {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.car-card__title {
	margin-bottom: 10px;
	font-weight: var(--fw-medium);
}

.rating {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.rating__icon {
	width: 16px;
	height: 16px;
	margin-right: 6px;
}

.rating__value {
	margin-right: 5px;
	font-weight: var(--fw-medium);
	font-size: 12px;
}

.rating__reviews {
	font-size: 12px;
	font-weight: var(--fw-regular);
	color: var(--text-color-second);
}

.features-list {
	display: grid;
	grid-template-columns: 120px 72px;
	gap: 8px 16px;
	margin-bottom: 24px;
}

.features-list__item {
	display: flex;
	align-items: center;
	gap: 4px;
	color: var(--text-color-second);
}

.features-list__icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}

.features-list__text {
	font-size: 12px;
}

.price {
	display: flex;
	flex-direction: column;
	padding-top: 24px;
	border-top: 1px solid var(--text-color-second);
}

.price__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: var(--fw-regular);
	color: var(--text-color-second);
}

.price__wrapper strong {
	font-size: 16px;
	font-weight: var(--fw-semibold);
	color: var(--text-color-main);
}

.car-card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 10px;
	font-size: 14px;
	text-transform: capitalize;
}

.car-card__button-icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
	stroke: currentColor;
}


@media (max-width: 1024px) {
	.hero__img {
		left: 420px;
	}
}

@media (max-width: 992px) {
	.title {
		text-align: center;
	}

	.burger-btn {
		display: block;
	}

	.hero__icon {
		display: none;
	}

	.menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 50%;
		height: 100vh;
		z-index: 5;
		padding: 100px 40px;
		background-color: var(--bg-color-main);
		box-shadow: -5px 0 25px rgba(0, 0, 0, 0.15);
		transition: left 0.3s ease;
	}

	.menu__list {
		flex-direction: column;
	}

	.menu.active {
		left: 0;
	}

	.search-form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		padding: 24px;
		margin-bottom: 20px;
	}

	.search-form__field:not(:first-of-type) {
		padding-left: 0;
		border-left: none;
	}

	.search-form__field:first-of-type {
		order: 3;
	}

	.search-form__field:nth-of-type(2) {
		order: 1;
	}

	.search-form__field:nth-of-type(3) {
		order: 2;
	}

	.search-form__btn {
		order: 4;
		width: 100%;
		padding: 16px 20px;
		text-align: center;
		justify-content: center;
	}

	.steps__list {
		gap: 50px;
	}

	.features {
		background-image: none;
	}

	.feateres__img {
		position: static;
		transform: none;
	}

	.features__content {
		width: 100%;
		max-width: none;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.section {
		height: auto;
	}

	.hero {
		padding: 20px 0;
	}

	.hero__container {
		gap: 30px;
	}

	.hero__content {
		max-width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.hero__title {
		font-size: 42px;
	}

	.hero__links {
		justify-content: center;
	}

	.hero__img {
		position: static;
		width: 75%;
		margin: 0 auto;
	}

	.search-form {
		order: 3;
	}

	.step-card {
		max-width: 180px;
	}
}

@media (max-width: 576px) {

	.search-form {
		grid-template-columns: 1fr;
	}

	.steps__list {
		flex-direction: column;
		align-items: center;
	}
}